@{
    ViewData["Title"] = "Costa Rica Amigos";
}

<div class="text-center">
    <h1 class="display-4">Learn about us</h1>
    <p>We are a travel tour guide company that specializes in all your Costa Rica needs.</p>
       <p>Search for activities you want on your vacation to-do list and add them to your itinerary </p>
              <p>Feel free to delete and edit items as you get closer to 
                  your date and always know what you're going to pay for. </p>
                  <p>Chat with fellow travelers
                  to get the inside scoop of the best local deals</p>
</div>