@{
    ViewData["Title"] = "Costa Rica Amigos";
}

<div class="text-center">
    <div style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/9470489/pexels-photo-9470489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;">
    <h1 class="display-4 my-5 py-5 text-white">Learn about us</h1>
    </div>
    <div class="py-2 my-3">
    <h2 class="px-5">We are a travel tour guide company that specializes in all </h2>
    <h2 class="px-5">your Costa Rica needs.</h2>
</div>
    
    <div class="row my-3">
        <div class="col-4 bg-light p-3">
            <p>Search for activities you want on your vacation to-do list and add them to your itinerary </p>
        </div>
        <div class="col-4 bg-light p-3">
            <p>Feel free to delete and edit items as you get closer to 
                      your date and always know what you're going to pay for. </p>
        </div>
        <div class="col-4 bg-light p-3">
        <p>Chat with fellow travelers
                      to get the inside scoop of the best local deals</p>
        </div>
    </div>
</div>