@{
    ViewData["Title"] = "COMING SOON: Message Board";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the message board</h1>
    <h2>Chat with fellow travelers.</h2>
 <p>This feature is coming soon!</p>
</div>

<div>

   

</div>