@{
    ViewData["Title"] = "Home Page";
}

<div class="row homepagebackground" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/9470489/pexels-photo-9470489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;">
    <div class="pagecontent row my-5 py-5">
        <div class="col"></div>
        <div class="col-8 text-center">
            <h1 class="my-3 text-white">Make your dream trip a reality!</h1>
            <h2 class="h5 text-white">Create an itinerary for the trip of a lifetime</h2>
            <a href="https://localhost:7074/Activities/Create" class="my-3 btn btn-outline-light btn-lg">Create Itinerary</a>
        </div>
        <div class="col"></div>
    </div>    
</div>
<div class="my-3 row homepagebackground" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;">
    <div class="pagecontent row my-5 py-5">
        <div class="col"></div>
        <div class="col-8 text-center">
            <h1 class="my-3 text-white">Select your dream home</h1>
            <h2 class="h5 text-white">Pick from the best villas and bungalows</h2>
            <a href="https://localhost:7074/Rentals/Create" class="my-3 btn btn-outline-light btn-lg">Rentals</a>
        </div>
        <div class="col"></div>
    </div>    
</div>



    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@



