@{
    ViewData["Title"] = "Home Page";
}

<div class*@
   ="homepagebackground" style="background-color:#20c997; height:100%;     
background-image: url("");">


    <div class="pagecontent row">
        <div class="col"></div>
        <div class="col-6 text-center">
            <h1>Make your dream trip a reality!</h1>
            <h2 class="h5">Create an itinerary for the trip of a lifetime</h2>
            <a href="https://localhost:7074/Activities/Create" class="btn btn-primary">Create Itinerary</a>
        </div>
        <div class="col"></div>
    </div>    
</div>



    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@



